.menu {
  position: fixed; /* Se establece la posición fija */
  bottom: 0; /* Se fija en la parte inferior de la página */
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  
}

.menu__item {
  list-style: none;
  display: inline-block;
  justify-content: center;
  color: black;
  margin: 4px;
}

.menu__item svg {
  height: 48px;
  width: 48px;
}

.menu__item a {
  text-decoration: none;
}

.menu__item a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}