.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #62B4D2;
  border-radius: 10px;
}

.menu__item {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  color: black;
  margin: 4px;
}

.menu__item svg {
  height: 48px;
  width: 48px;
}

.menu__item a {
  text-decoration: none;
}

.menu__item a:link,
.menu__item a:visited,
.menu__item a:active {
  text-decoration: none;
  color: black;
}

/* Media Query para vista de escritorio */
@media screen and (min-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #62B4D2;
    z-index: 1000;
    transition: width 0.3s;
  }
  
  .menu--open {
    width: 200px;
  }
  
  .menu__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .menu__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: black;
  }
  
  .menu__content {
    flex-grow: 1;
  }
  
  .menu__items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    color: black;
    transition: background-color 0.3s;
  }
  
  .menu__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .menu__item svg {
    height: 24px;
    width: 24px;
  }
  
  .menu__item a {
    text-decoration: none;
    color: white;
  }
}
