.form__publi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form__publi--continer--file {
 position: relative;
 display: inline-block;  
}

.form__publi--continer--file::before{
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form__publi--continer--file input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}